openapi: 3.0.3
info:
  title: Ecotrust Price API
  description: |
    API for fetching currency, cryptocurrency, gold, and coin prices in Iranian Toman (IRT).
    Data source: Gheymat (قیمت) - ecotrust.ir
  version: 1.0.0
  contact:
    name: Ecotrust
    url: https://ecotrust.ir
  license:
    name: Proprietary
    url: https://ecotrust.ir

servers:
  - url: https://ecotrust.ir
    description: Production server
  - url: https://backend.price.ecotrust.ir
    description: Backend price service

tags:
  - name: Prices
    description: Price data for currencies, cryptocurrencies, gold, and coins

paths:
  /api/prices:
    get:
      tags:
        - Prices
      summary: Get all prices
      description: |
        Returns a list of all available prices including:
        - **Currencies** (USD, EUR, AED, etc.)
        - **Cryptocurrencies** (USDT, BTC, ETH, etc.)
        - **Gold** (18K gold, etc.)
        - **Coins** (Emami gold coin, half coin, etc.)

        All prices are quoted in Iranian Toman (IRT).
      operationId: getPrices
      parameters: []
      responses:
        '200':
          description: Successful response with price data
          headers:
            cache-control:
              schema:
                type: string
                example: public, s-maxage=300, stale-while-revalidate=600
            content-type:
              schema:
                type: string
                example: application/json
            x-country-code:
              schema:
                type: string
                example: IR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricesResponse'
              example:
                data:
                  - symbol: USD-IRT
                    price_source:
                      symbol: GHEYMAT
                      fa: قیمت
                      en: Gheymat
                      link: null
                      image: null
                    name:
                      symbol: USD
                      category:
                        symbol: CURRENCY
                        fa: ارز
                        en: Currency
                        image: null
                      fa: دلار آمریکا
                      prefix: null
                      postfix: "$"
                      suffix: "$"
                      en: US Dollar
                      png: https://backend.price.ecotrust.ir/assets/currencies/USD.png
                    base_currency:
                      symbol: USD
                      category:
                        symbol: CURRENCY
                        fa: ارز
                        en: Currency
                        image: null
                      fa: دلار آمریکا
                      prefix: null
                      postfix: "$"
                      suffix: "$"
                      en: US Dollar
                      png: https://backend.price.ecotrust.ir/assets/currencies/USD.png
                    quote_currency:
                      symbol: IRT
                      category:
                        symbol: CURRENCY
                        fa: ارز
                        en: Currency
                        image: null
                      fa: تومان
                      prefix: null
                      postfix: " تومان"
                      suffix: " تومان"
                      en: Toman
                      png: null
                    png: https://backend.price.ecotrust.ir/assets/currencies/USD.png
                    sell_price: "169083.00000000"
                    buy_price: "169250.00000000"
                    is_tradable: false
                    support: "161297.0000"
                    resistance: null
                    buy_fee: "0.0000"
                    sell_fee: "0.0000"
                    change: "1.87"
                    bubble: null
                    real_value: null
                    bubble_percentage: null
                    created_at: "2026-02-28T07:05:42.620359Z"
                    is_up_to_date: false
        '500':
          description: Internal server error

components:
  schemas:
    # ─── Enum types (extracted from prices.json) ───
    CategorySymbol:
      type: string
      description: Asset category identifier
      enum:
        - BORS
        - COIN
        - COMMODITY_SAFFRON_FUNDS
        - CRYPTOCURRENCY
        - CURRENCY
        - FIXED_INCOME_FUNDS
        - GOLD
        - GOLD_FUNDS
        - LEVERAGED_FUNDS
        - MIXED_ASSET_FUNDS
        - PROPERTY_FUNDS
        - SECTOR_FUNDS
        - SILVER
        - STOCK_FUNDS

    PriceSourceSymbol:
      type: string
      description: Price data source identifier
      enum:
        - GHEYMAT

    QuoteCurrencyCategorySymbol:
      type: string
      description: Quote currency category (all prices quoted in IRT)
      enum:
        - CURRENCY

    # ─── Response & nested schemas ───
    PricesResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          description: Array of price items
          items:
            $ref: '#/components/schemas/PriceItem'

    PriceItem:
      type: object
      required:
        - symbol
        - price_source
        - name
        - base_currency
        - quote_currency
        - sell_price
        - buy_price
        - is_tradable
        - created_at
        - is_up_to_date
      properties:
        symbol:
          type: string
          description: Trading pair symbol (e.g., USD-IRT, USDT-IRT)
          example: USD-IRT
        price_source:
          $ref: '#/components/schemas/PriceSource'
        name:
          $ref: '#/components/schemas/CurrencyInfo'
        base_currency:
          $ref: '#/components/schemas/CurrencyInfo'
        quote_currency:
          $ref: '#/components/schemas/CurrencyInfo'
        png:
          type: string
          format: uri
          nullable: true
          description: URL to asset icon/logo
          example: https://backend.price.ecotrust.ir/assets/currencies/USD.png
        sell_price:
          type: string
          description: Sell price in quote currency (decimal string)
          example: "169083.00000000"
        buy_price:
          type: string
          description: Buy price in quote currency (decimal string)
          example: "169250.00000000"
        is_tradable:
          type: boolean
          description: Whether the asset is tradable
        support:
          type: string
          nullable: true
          description: Support price level
          example: "161297.0000"
        resistance:
          type: string
          nullable: true
          description: Resistance price level
          example: "163446.0000"
        buy_fee:
          type: string
          description: Buy fee percentage
          example: "0.0000"
        sell_fee:
          type: string
          description: Sell fee percentage
          example: "0.0000"
        change:
          type: string
          description: Price change percentage
          example: "1.87"
        bubble:
          type: string
          nullable: true
          description: Bubble value (difference from real value)
          example: "-23819.00000000"
        real_value:
          type: string
          nullable: true
          description: Real/underlying value
          example: "169250.00000000"
        bubble_percentage:
          type: string
          nullable: true
          description: Bubble as percentage
          example: "-14.07"
        created_at:
          type: string
          format: date-time
          description: Last update timestamp (ISO 8601)
          example: "2026-03-15T00:14:23.817686Z"
        is_up_to_date:
          type: boolean
          description: Whether the price is considered up-to-date

    PriceSource:
      type: object
      description: Source of the price data
      properties:
        symbol:
          $ref: '#/components/schemas/PriceSourceSymbol'
        fa:
          type: string
          description: Persian name
          example: قیمت
        en:
          type: string
          description: English name
          example: Gheymat
        link:
          type: string
          nullable: true
        image:
          type: string
          nullable: true

    CurrencyInfo:
      type: object
      required:
        - symbol
        - category
        - fa
        - en
      properties:
        symbol:
          type: string
          description: Currency/asset symbol
          example: USD
        category:
          $ref: '#/components/schemas/Category'
        fa:
          type: string
          description: Persian name
          example: دلار آمریکا
        prefix:
          type: string
          nullable: true
        postfix:
          type: string
          nullable: true
          description: Display suffix (e.g., $, تومان)
          example: "$"
        suffix:
          type: string
          nullable: true
          example: "$"
        en:
          type: string
          description: English name
          example: US Dollar
        png:
          type: string
          format: uri
          nullable: true
          description: URL to currency icon

    Category:
      type: object
      description: Asset category (Currency, Cryptocurrency, Gold, Coin, Funds, Bourse, etc.)
      properties:
        symbol:
          $ref: '#/components/schemas/CategorySymbol'
        fa:
          type: string
          description: Persian category name
          example: ارز
        en:
          type: string
          description: English category name
          example: Currency
        image:
          type: string
          nullable: true
